name: GitHub Actions Demo

on: [push]

jobs:
  my-firtst-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Hello
        run: |
          echo "Hello World"
          echo "Indented command"
      - name: Run Python
        run: |
          pip3 install -r requirements.txt
          python3 ci.py
